@font-face{
  font-family: "Cursive";
  src: url('cursive.otf');
}

html {
  background: #efebeb;
}

main {
  margin: 2vw;
  background: #f4f4e7;
  border: 3px solid #ddd7be;
  box-shadow: 3px 5px #979885;
  min-height: 480px;
}

div {
  margin: 4vw;
}

* {
  font-family: "Cursive";
  font-size: 4vw;
  color: #312e2e;
  animation: fadeIn 0.5s;
  transition: all 0.5s;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

a {
  font-family: "Helvetica";
  font-size: 2vw;
  margin-top: 1vw;
  display: block;
  color: #a7a7a7;
}

a:hover {
  color: #573f98;
}
